/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  textarea {
    height: 150px;
  }
  
  button[type="submit"] {
    background-color: #1f6c06;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #e35454;
  }
  
  #successMessage {
    background-color: #c5f7cd;
    color: #2d8633;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Additional Styling and Colors */
  body {
    background-color: #f8f8f8;
  }
  
  header {
    background-color: #343434;
    padding: 20px;
    color: #fff;
  }
  
  footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  