<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Olympic Player Stories</title>
  <link rel="stylesheet" href="styles.css">

  <style>
/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ff6b6b;
}

.hero {
  background-color: #a1a1a1;
  padding: 10px -5px;
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero p {
  font-size: 18px;
  color: #292929;
  margin-top: -10px;
}

.hero-content{
    margin-bottom: 110px;
}
.player-stories {
  padding: 50px -10px;
}

.story {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.story-content {
  flex: 1;
}

.story-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.story-content p {
  color: #666;
  margin-bottom: 20px;
}

.player-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.read-more {
  display: inline-block;
  background-color: #ff6b6b;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
}

footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  color: #666;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

  </style>
</head>

<body>
  <div class="header">
    <img src="/static/img/logo.png" art="logo" height="130" width="200" class="center"><br>
  </div>

  <section class="hero">
    <div class="hero-content">
      <h1>Top Olympic Player Stories</h1>
      <p>Discover the inspiring stories of Olympic athletes who have overcome challenges and achieved greatness.</p><br>
    </div>
    
</section>
<div class="img">
    <img src="/static/img/9.png" art="img" width="1100" height="300"  ><br><br>
</div>

  <section class="player-stories">
    <div class="container">
      <div class="story">
        <div class="story-content">
          <h2>Kerri Strug
          </h2>

          <p><b>The gymnast who achieved gold on a near-broken ankle</b></p><br>
          <p>By the 1996 Olympics, American Kerri Strug had been training for 16 years, having started gymnastics at the tender age of three.<br><br>

            The US ladies team had gotten off to such a strong start in the Games that the press dubbed them The Magnificent Seven, but as the competition heated up it soon became clear that the Russians were a force to be reckoned with.<br><br>
            
            Despite their best efforts, the US lead had evaporated by the time it came to their final gymnast Kerri Strug. Strug had sprained her ankle during her first vault, and when she realised that she was to be called upon again, she earnestly asked her coach, “Do we need this?”<br><br>
            
            The US hope for the gold relied solely on Kerri’s final vault, and so she limped towards the runway for her second attempt. Her performance was incredible, and she even managed a near perfect dismount, landing on both feet. It was the first time since 1948 that the Russians hadn’t taken home the team gold.<br><br>
            
            It instantly became clear that Kerri was badly hurt. So much so that she collapsed onto her knees and needed assistance just to leave the platform. The team’s coach, Bela Karolyi, carried Kerri onto the medals podium and after the ceremony, she was hospitalised for a third-degree lateral sprain and tendon damage. “People think these girls are fragile dolls. They’re not. They’re courageous,” Karolyi told the gathered press.<br><br>
            
            Stug became a national hero, meeting with President Bill Clinton, appearing on talk shows across the US and making the cover of Sports Illustrated. Speaking to the media after the win, she said, “This is the Olympics. This is what you dream about from when you’re 5 years old. I wasn’t going to stop.”</p>
            <a href="https://youtu.be/Bwa5Bf656As">youtube video</a><br><br>
          <a href="player1.html" class="read-more">Read More</a>
        </div>
        <div class="player-image">
          <img src="/static/img/ath1.png" alt="Player 1">
        </div>
      </div>

      <div class="story">
        <div class="story-content">
          <h2>Wilma Rudolph</h2>
          <p><b>From Disability to Olympic Glory</b></p><br>

          <p>If you think Derek Redmond was an inspiration, wait until you see Wilma Rudolph. She is the absolute proof that nothing is impossible.<br><br>

            Born prematurely, in a family of 21 children, with little to no resources to sustain a professional sports career, Wilma had to face even bigger challenges when she was stricken with polio. Not to mention this was the 1950s, which made things even more complicated.<br><br>
            
            But she had a fire burning inside her, an unstoppable strength that nothing, not even polio or social barriers, could ever stop her.<br><br>
            
            <i>“The triumph can’t be had without the struggle― Wilma Rudolph"</i><br><br>
            
            By the time she was 12, she had overcome polio, started to walk again, to her doctor’s’ surprise, and took up athletics. Eight years later she was already an Olympic champion.<br><br>
            
            Wilma defied all odds and won three gold medals at the Summer Olympics in Rome, in 1960.
            
            
            She retired shortly afterwards, in 1962, and then devoted the rest of her life to coaching underprivileged children.</p>
          <a href="player2.html" class="read-more">Read More</a>
        </div>
        <div class="player-image">
          <img src="/static/img/ath2.png" alt="Player 2">
        </div>
      </div>

      <div class="story">
        <div class="story-content">
          <h2>Billy Mills</h2>
          <p><b>The Underdog</b></p><br>

          <p>At the 1964 Tokyo Olympics, no one knew who Billy Mills was. His name featured among the runners of the 10,000m race, but he was no “favorite”, no “rising star”. He wasn’t even a high achiever, a talent that someone recently discovered.<br><br>

            In fact, Billy Mills himself had no idea that only hours later he would become the Billy Mills.<br><br>
            
            Half-Native-American and half-white, Mills grew up on a reservation in South Dakota. At the young age of 12 he was already an orphan, struggling for survival. The social context he grew up in wasn’t helping much either. Native Americans were still living hard times back then. Forced to reside in a reservation, against their ancestral, nomad ways, the tribes were poor, unemployed and angry. Young Billy Mills had one hope, that running would set him free.<br><br>
        
            Mills went on to improve his running skills and even won an athletic scholarship at the University of Kansas. He excelled at cross-country while at university but, by the time of the Olympic Games, he had left Kansas to join the US Marine Corps. It was while serving in the armed forces that he qualified for the Games.<br><br>

            At the Olympic Games, Mills was finally at his peak: he found a great coach in the US Marine, his wife was supporting his dreams and he felt more confident than ever. But no one knew who he was, until the last minutes of the race.<br><br>

            <i>Billy Mills remains the only American to win gold in the Olympic 10,000-meter run</i><br><br>

        </p>
          <a href="player3.html" class="read-more">Read More</a>
        </div>
        <div class="player-image">
          <img src="/static/img/ath3.png" alt="Player 3">
        </div>
      </div>
    </div>

    <div class="container">
        <div class="story">
          <div class="story-content">
            <h2> Lovlina Borgohain
            </h2>
  
            <p><b>Dream big</b></p><br>
            <p>Presently the highest-ranked Indian female pugilist, World No. 3 (69 kg), Lovlina Borgohain’s journey to the Olympics began in the tiny village of Assam.<br><br>

                Her father is a tea garden worker and a sports enthusiast. Lovlina was drawn to kickboxing at an early stage and even participated at the national level. However, later she decided to switch to boxing. <br><br>
                
                Borgohain’s dream to take part in the Olympics came true with the qualification after the Sports Authority of India (SAI) took her in. Her father’s trust in her paved the way to dream big.</p><br>
              <a href="https://youtu.be/OrQMMRW6dIU">youtube video</a><br><br>
            <a href="player1.html" class="read-more">Read More</a>
          </div>
          <div class="player-image">
            <img src="/static/img/ath4.png" alt="Player 1">
          </div>
        </div>
  
        <div class="story">
          <div class="story-content">
            <h2>Devendra Jhajharia</h2>
            <p><b>One good arm, two world records
            </b></p><br>
  
            <p>Devendra became the second gold medalist in India at the Rio Paralympics after breaking his world record in the men’s F46 Javelin Throw. It was a historic moment, as he became the first Indian to win two individual Gold medals at the Paralympics/Olympics.<br><br>

            At the age of 8, he lost his left hand after accidentally touching an electric wire while trying to climb a tree. The incident could have stalled any kid, but it turned out to be the beginning of this soon-to-be star athlete’s journey.<br><br>
            
            Jhajharia has mentioned many times, “I liked [javelin throw] because I could do it with one arm.” It is a simple but powerful statement that encapsulates the 40-year-old’s attitude toward discovering and pursuing his passion.</p><br><br>
            <a href="player2.html" class="read-more">Read More</a>
          </div>
          <div class="player-image">
            <img src="/static/img/ath5.png" alt="Player 2">
          </div>
        </div>
  
        <div class="story">
          <div class="story-content">
            <h2> Deepa Karmakar</h2>
            <p><b> Passion over pain</b></p><br>
  
            <p>Deepa was born with flat- feet, a condition which is deemed unfavorable for gymnasts. But still, she created history by presenting the life-threatening stunt- Produnova Vault at the Rio Olympics, a stunt which till date has been performed by only five women worldwide, and attained 4th position. <br><br>

                She won a billion hearts for her tireless efforts. Her training grounds in Tripura used to get swamped. Despite the insufficiency of training facilities and financial support from the Sports Ministry, her commitment was unshakable. She trusted only in herself and her coach.<br><br>
                
                And by holding this mindset, Deepa has proved that nothing can stop you if you are determined. She was also the first Indian female gymnast to qualify for the Olympics in 52 years.<br><br>
  
          </p>
            <a href="player3.html" class="read-more">Read More</a>
          </div>
          <div class="player-image">
            <img src="/static/img/ath6.png" alt="Player 3">
          </div>
        </div>
      </div>
      


      <div class="more">
        <a href="#" style="margin-left: 480px;">Click Here to Read more</a>
      </div><br><br>
  </section>

  <footer>
    <p>&copy; 2023 Olympic Vibes. All rights reserved.</p>
  </footer>
</body>
</html>
