<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Statistics</title>
</head>
<body>
    <h1>Top Statistics</h1>
    <h2>Number of editions</h2>
    {{edition}}
    <h2>Number of host</h2>
    {{host}}
    <h2>Number of sport</h2>
    {{sport}}
    <h2>Number of event</h2>
    {{event}}
    <h2>Number of athletes</h2>
    {{athletes}}
    <h2>Number of country</h2>
    {{country}}
</body>
</html>